body {
  background-color: #0080FF;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px; 
}

#header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
}

#header h2 {
  margin: 0px 0px 20px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
}

a {
  color: white;
}

a:hover {
  color: #FA58F4;
  text-decoration: none;
}