body {
  background-color: #0080FF;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px; 
}

#header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
}

#header h2 {
  margin: 0px 0px 20px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

ul i {
  padding-right: .5em;
}

li {
  line-height: 2em;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: rgb(255, 0, 119);
  text-decoration: none;
}

a:active {
  color: #FA58F4;
}